{% extends 'core/base.html' %}


{% block title %} Reset Confirm {% endblock %}


{% block content %}
<form method="post" class="account-form">
    {% csrf_token %}
    <h1>Change your password</h1>
    <fieldset class="module aligned">
        <label class="">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
    </fieldset>
    <fieldset class="module aligned">
        <label class="">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
    </fieldset>
    <fieldset class="module aligned">
    <ul>
        <li class="">Your password cant be too similar to your other personal info</li>
        <li class="">Your password must be at least 8 characters</li>
        <li class="">Your password must be made of numbers and letters</li>
        <li class="">Your password cant be a commonly used password</li>
        <li class="">Your password cant be too entirely numeric</li>
    </ul>
    </fieldset>
    <fieldset class="module aligned">
        <button type="submit">Reset</button>
        <p class=""><a href="{% url 'account_:login' %}"></a>Already have an account?</p>
        <p class=""><a href="{% url 'account_:register' %}"></a>Help Center?</p>
    </fieldset>
</form>

{% endblock %}