{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}{% static 'styles/account/password.css' %}{% endblock %}

{% block title %} Reset {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <script>
        window.location.href = "{% url 'account_:dashboard' %}"
    </script>
{% endif %}
<div id="form" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div id="register">
        <form method="post" class="password-reset-form" action="{% url 'account_:password_reset' %}">
            {% csrf_token %}
            <h1>Forgetten your password</h1>
            <h2>Enter your email address linked to your account and we will send you a link that will help you obtain a new password</h2>
            <div class="input">
                  <i class="fa fa-info-circle"></i> {{ form.email.label }}
                  {{ form.email}}
                    <i class="fa fa-eye-slash"></i>
                  <div class="alert" role="alert">
                      {% if form.errors %}
                      {% for field in form %}
                      {% if field.errors %}
                      <p><strong>{{ field.label }}: </strong>{{ field.errors|striptags }}</p>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                  </div>
            </div>
            <button type="submit"><i class="fa fa-sign-in" style="font-weight:500;font-size:25px;margin:0 35% 0 10px"></i>Send me e-mail</button>
            <p class=""><a href="{% url 'account_:login' %}">sign into account</a></p>
        </form>
    </div>
</div>

{% endblock %}